html{
    font-size: 20px;
}

header{
    display: flex;
    flex-direction: row;
    padding-top: 4%;
    border-bottom: 2px solid black;
}
.title{
    width: 70%;
    text-align: center;
}
.hamburger {
    width: 15%;
}
.hamburger img{
    padding-left: 27%;
    padding-top: 10%;
    object-fit: cover;
    width: 100%;
    height: auto;
}
p{
    margin-top: 5%;
    font-size: 1.3rem;
    margin-left: 27%;
}
input {
    text-align: center;
}
select.form-control {
    margin-left: 30%;
    width: 30%;
    margin-bottom: 10%;
}
input.btn{
    margin-left: 30%;
    width: 40%;
}

@media (screen-max-width: 730px){
    p{
        font-size: 1rem;
    }
}