html{
    font-size: 20px;
    margin: 0;
    transition-timing-function: linear;
    transition: 1s;
}
.container-fluid{
    padding:0;
}
.body{
    transition-timing-function: linear;
    transition: .2s;
    position: relative;
    background-color: white;
    height: 200%;
    margin:0;
    padding-bottom: 170%;
    position: fixed;
    top: 0;
}
header{
    display: flex;
    flex-direction: row;
    padding-top: 4%;
    border-bottom: 2px solid black;
}
.title{
    width: 70%;
    text-align: center;
}
.hamburger {
    width: 15%;
}
.hamburger img{
    padding-left: 27%;
    padding-top: 10%;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.menu{
    transition-timing-function: linear;
    transition: .2s;
    transform: translate(250px, 0)
}
.nav{
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 0;
    opacity: .99;
    color: white;
    position: relative;
    top: 0;
    width: 100%;
    padding-bottom: 160%;
}
.navtitle link{
    background-color: grey;
    text-align: center;
    margin-left: 8%;
    margin-right: 45%;
    border-radius: .2rem;
}
p{
    margin-top: 5%;
    font-size: 1.3rem;
    margin-left: 27%;
}
div.col-sm-2{
    padding: 0;
}
.generate {
    text-align: center;
    color: white;
}
select.form-control {
    margin-left: 30%;
    width: 30%;
    margin-bottom: 10%;
}
.generate{
    margin-left: 30%;
    width: 40%;
}

@media (screen-max-width: 730px){
    p{
        font-size: 1rem;
    }
}