html{
    font-size: 20px;
    margin: 0;
    transition-timing-function: linear;
    transition: 1s;
}
.container-fluid{
    padding:0;
}
.card{
    margin: 0 10px;
}
.card-block{
    padding-bottom: 50%;
    padding-left: 0%;
    padding-right: 0;
    padding-top: 0;
}
.body{
    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    position: relative;
    background-color: #17176d;
    height: 200%;
    margin:0;
    padding-bottom: 170%;
    position: fixed;
    top: 0;
}
.btn{
    transition: 1s;
}
.title img{
    margin-left: 12%;
    width: 90%;
}
select.form-control{
    margin-left: 10%;
    width: 30%;
    margin-bottom: -11.5%;
    position: absolute;
}
header{
    display: flex;
    flex-direction: row;
    padding-top: 4%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.title{
    width: 70%;
    text-align: center;
}
.navbtn{
    width: 60.5%;
    margin-top: 1%;
    font-size: 1.5rem;
    background-color: dimgray;
    box-shadow: 0px 4px 0px #666666;
    color: #fffbfb;

}
.hamburger {
    width: 15%;
}
.hamburger img{
    padding-left: 27%;
    padding-top: 10%;
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: .1s;
}
.menu{
    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transform: translate(250px, 0)
}
.nav{
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    z-index: 0;
    opacity: .99;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 160%;
}
.navtitle link{
    background-color: grey;
    text-align: center;
    margin-left: 8%;
    margin-right: 45%;
    border-radius: .2rem;
}
.mega{
    background-color: #e1d28e;
}
.power{
    background-color: #ed1c24
}
.btn:focus{
    box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.25);
}
.power{
    background-color: #ed1c24;
}
p{
    margin-top: 5%;
    font-size: 1rem;
    margin-left: 13%;
    letter-spacing: 0.15rem;
    line-height: 1.4rem;
}
p.prev{
    position: absolute;
    top: 54px;
    left: 4%;
}
div.col-sm-2{
    padding: 0;
}
.generate {
    text-align: center;
    color: white;
    background-color: #dddddd
}
.generate{
    z-index: 0;
    left: 52%;
    position: absolute;
}
span{
    position: absolute;
    top: 118px;
    left: 18%;
    font-size: 1rem;
    letter-spacing: 0.15rem;
}
.hamburger img.navactive{
    transform: rotate(90deg);
    padding-top: 0%;
    padding-left: 22%;
    padding-right: 9%;
}
.selected{
    color: rgba(183, 183, 183, 0.49);
    box-shadow: 0px 4px 0px #6a6a6a;
}

@media only screen and (min-width: 730px){
    @media only screen and (orientation: landscape){
        p{
            font-size: 2rem;
            text-align: center;
            line-height: .4rem;
        }
        select.form-control{
            margin-left: 267%;
            width: 65%;
            margin-bottom: -33.5%;
        }
        .generate{
            left: 337%;
        }
        .hamburger img{
            padding-left: 22%;
            padding-top: 0%;
            object-fit: cover;
            width: 57%;
            height: auto;
        }
        .navbtn{
            width: 24.5%;
        }
    }
    @media only screen and (orientation: portrait){
        p{
            margin-left: 33%;
        }
        select.form-control{
            margin-left: 275%;
            width: 75%;
            margin-bottom: -46.5%;
        }
        .generate{
            left: 300%;
        }
        .hamburger img{
            width: 76%;
            padding-left: 25%;
            padding-top: 0%;
        }
        .navbtn{
            width: 32.5%;
        }
    }

}